@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #18181B;
  --secondary: #F43F5E;
  --textColor: #E0747A;
  --terciary: #FECDD3;
}


.embla {
  position: relative;
  width: 100%; /* Garante que o carrossel ocupe 100% da largura do container pai */
  overflow: hidden; /* Impede que o conteúdo extra seja exibido */
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%; /* Garante que cada slide ocupe 100% do espaço disponível */
}

.embla__slide img {
  width: 100%; /* Garante que a imagem ocupe toda a largura do slide */
  height: auto; /* Mantém a proporção da imagem */
}

